
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/home">Home</a>
            </li>
            <li class="breadcrumb-item active">Events</li>
          </ol>
        </div>
      </div>

<div class="card card-body">
<form>
  <div class="form-group">
    <input type="text" class = "form-control" placeholder="Add an event">
  </div>
  <input type="submit" value="Add Event" class="btn btn-light" >
  <button type="button" class="btn btn-warning" >Delete</button>
</form>

</div>

<ul class ="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Event One</a>
      <span class="log-date">01/09/2018</span>
      <i class="fa fa-remove"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Event Two</a>
      <span class="log-date">02/09/2018</span>
      <i class="fa fa-remove"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Event Three</a>
      <span class="log-date">03/09/2018</span>
      <i class="fa fa-remove"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Event Four</a>
      <span class="log-date">04/09/2018</span>
      <i class="fa fa-remove"></i>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="#">Event Five</a>
      <span class="log-date">05/09/2018</span>
      <i class="fa fa-remove"></i>
    </li>
  </ul>